@page "/intro"

<h1 class="title">Welcome to Islington College</h1>

<div class="intro-container">
    <img src="images/college.jpg" alt="College Image" class="college-photo" />

    <p class="description">
        Islington College is an educational institution 
        in Kathmandu, Nepal. It was established in 1996 
        as a regular franchisee of Singapore main-board 
        listed Informatics Education Limited. The college 
        partners with London Metropolitan University to deliver 
        bachelor's degrees in Computing, Computer Networking & IT Security, 
        and Multimedia Technologies programmes for in-country provision.
    </p>
</div>



@code {

}
