@page "/monkeys"

<h2 class="title">Monkey Collection</h2>

@if (monkeyList.Count == 0)
{
    <p class="no-data">No monkeys found</p>
}
else
{
    <div class="monkey-grid">
        @foreach (var monkey in monkeyList)
        {
            <div class="monkey-card">
                <img src="@monkey.Image" alt="@monkey.Name" class="monkey-photo" />
                <h3>@monkey.Name</h3>
                <p>@monkey.Location</p>
            </div>
        }
    </div>
}

@code {
    public class Monkey
    {
        public string Name { get; set; }
        public string Location { get; set; }
        public string Image { get; set; }
    }

    List<Monkey> monkeyList = new()
    {
        new Monkey
        {
            Name = "Baboon",
            Location = "Africa & Asia",
            Image = "https://raw.githubusercontent.com/jamesmontemagno/app-monkeys/master/baboon.jpg"
        },
        new Monkey
        {
            Name = "Capuchin Monkey",
            Location = "Central & South America",
            Image = "https://raw.githubusercontent.com/jamesmontemagno/app-monkeys/master/capuchin.jpg"
        },
        new Monkey
        {
            Name = "Blue Monkey",
            Location = "Central and East Africa",
            Image = "https://raw.githubusercontent.com/jamesmontemagno/app-monkeys/master/bluemonkey.jpg"
        }
    };
}
