.header {
    text-align: center;
    color: #004080;
}

.profile-card {
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 300px;
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.profile-photo {
    width: 100%;
    height: 80%;
    border-radius: 12px;
    margin-bottom: 15px;
}
